@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using BusinessLogicalLayer;
@using Domain;
@{
    ViewData["Title"] = "Endereco";
}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Endereço</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link type="text/css" href="~/css/endereco.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body>
    <main id="page-create-point">
        <header>
            <img src="#" alt="Logo da OdontoTech" />

            <a href="/Home/Index">
                <span></span>
                Voltar para home
            </a>
        </header>

        <form action="" method="post">
            <h2 id="balance">Endereço completo</h2>

            <fieldset>
                <div class="field-group">
                    <div class="field">
                        <label for="state">Estado</label>
                        <select name="uf" id="state" required>
                            <option value="@ViewBag.uf">Selecione o estado</option>
                        </select>

                        <input type="hidden" name="state" />
                    </div>

                    <div class="field">
                        <label for="city">Cidade</label>
                        <select name="city" id="city" disabled required>
                            <option value="@ViewBag.city">Selecione a cidade</option>

                            <input type="hidden" name="city" />
                        </select>
                    </div>
                </div>

                <div class="field-group">
                    <div class="field">
                        <label for="bairro">Bairro</label>
                        <select name="bairro" id="bairro" disabled required>
                            <option value="@ViewBag.bairro">Selecione o bairro</option>
                        </select>

                        <input type="hidden" name="bairro" />
                    </div>

                    <div class="field">
                        <label for="logradouro">Logradouro</label>
                        <select name="logradouro" id="logradouro" disabled required>
                            <option value="@ViewBag.logradouro">Selecione a logradouro</option>

                            <input type="hidden" name="logradouro" />
                        </select>
                    </div>
                </div>

            </fieldset>

            <div class="wrap-input100 validate-input" data-validate="Formato invalido">
                <input class="input100" type="text" name="logradouro">
                <span class="focus-input100" data-placeholder="Logradouro"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Formato invalido">
                <input class="input100" type="text" name="cep">
                <span class="focus-input100" data-placeholder="CEP"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Formato invalido">
                <input class="input100" type="text" name="numeroCasa">
                <span class="focus-input100" data-placeholder="Número"></span>
            </div>

            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn">
                        Salvar
                    </button>
                </div>
            </div>

            <fieldset>

                <section class="table-responsive" id="state">
                    <h2 class="sr-only">Lista de estados</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="description">#</th>
                                <th>Logradouro</th>
                                <th>Número</th>
                                <th>CEP</th>
                                <th>Bairro</th>
                                <th>Cidade</th>
                                <th>Estado</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                EstadoBLL estadoBLL = new EstadoBLL();
                                CidadeBLL cidadeBLL = new CidadeBLL();
                                BairroBLL bairroBLL = new BairroBLL();
                                LogradouroBLL logradouroBLL = new LogradouroBLL();
                                EnderecoBLL enderecoBLL = new EnderecoBLL();

                                List<Estado> estados = estadoBLL.GetAll();
                                List<Cidade> cidades = cidadeBLL.GetAll();
                                List<Bairro> bairros = bairroBLL.GetAll();
                                List<Logradouro> logradouros = logradouroBLL.GetAll();
                                List<Endereco> enderecos = enderecoBLL.GetAll();
                            }

                            @foreach (var item in enderecos)
                            {
                                <tr>
                                    <th scope="row">@item.Id</th>
                                    @foreach (var log in logradouros)
                                    {
                                        <td>@log.Nome</td>
                                    }
                                    <td>@item.NumeroCasa</td>
                                    <td>@item.Cep</td>
                                    @foreach (var bar in bairros)
                                    {
                                        <td>@bar.Nome</td>
                                    }
                                    @foreach (var cid in cidades)
                                    {
                                        <td>@cid.Nome</td>
                                    }
                                    @foreach (var est in estados)
                                    {
                                        <td>@est.Nome</td>
                                    }
                                    <td>
                                        <img onclick="Transaction.remove(${index})" src="~/images/assets/plus.svg" alt="Atualizar estado" />
                                    </td>
                                    <td>
                                        <img onclick="Transaction.remove(${index})" src="~/images/assets/minus.svg" alt="Remover estado" />
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </section>

                <input type="hidden" name="items" />

            </fieldset>

        </form>

    </main>

    <script src="https://use.fontawesome.com/d09559d1bd.js"></script>

    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>
    <script src="~/js/viacepJSandJson.js"></script>
    <script src="~/js/endereco.js"></script>

</body>
</html>