@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using BusinessLogicalLayer; 
@{
    ViewData["Title"] = "Estado";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Estado</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link href="~/css/endereco.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <!-- Adicionando JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

</head>
<body>
    <main id="page-create-point">
        <header>
            <img src="#" alt="Logo da OdontoTech" />

            <a href="/Home/Index">
                <span></span>
                Voltar para home
            </a>
        </header>

        <form action="" method="post">
            <h2 id="balance">Estado</h2>

            <fieldset>
                <div class="field-group">
                    <div class="field">
                        <label for="state">Estado</label>
                        <select name="uf" id="state" required>
                            <option value="@ViewBag.uf">Selecione o estado</option>
                        </select>

                        <input type="hidden" name="state" />
                    </div>

                    <div class="field">
                        <label for="city">Cidade</label>
                        <select name="city" id="city" disabled required>
                            <option value="@ViewBag.city">Selecione a cidade</option>

                            <input type="hidden" name="city" />
                        </select>
                    </div>
                </div>
            </fieldset>

            <div>
                <button type="submit" id="newState" name="saveBtn" value="Salvar">Salvar</button>
            </div>

            <fieldset>

                <section class="table-responsive" id="state">
                    <h2 class="sr-only">Lista de estados</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="description">#</th>
                                <th>Estado</th>
                                <th>País</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                EstadoBLL estadoBLL = new EstadoBLL();
                                Domain.Pais pais = new Domain.Pais(1, "Brasil");
                                List<Domain.Estado> lista = estadoBLL.GetAll();
                                List<Domain.Estado> listaP = estadoBLL.GetByNamePais(pais);
                            }

                            @foreach (var item in lista)
                            {
                                <tr>
                                    <th scope="row">@item.Id</th>
                                    <td>@item.Nome</td>
                                    @foreach (var p in listaP)
                                    {

                                    <td>@p.Pais.Nome</td>
                                    }
                                    <td>
                                        <img onclick="Transaction.remove(${index})" src="~/images/assets/plus.svg" alt="Atualizar estado" />
                                    </td>
                                    <td>
                                        <img onclick="Transaction.remove(${index})" src="~/images/assets/minus.svg" alt="Remover estado" />
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </section>

                <input type="hidden" name="items" />

            </fieldset>

        </form>
    </main>

    <script src="https://use.fontawesome.com/d09559d1bd.js"></script>

    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>
    <script src="~/js/viacep.js"></script>
    <script src="~/js/viacepJSandJson.js"></script>
    <script src="~/js/endereco.js"></script>

</body>
</html>