@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Pais";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Pais</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <link rel="stylesheet" type="text/css" href="./css/util.css">
    <!--===============================================================================================-->
</head>
<body>


    <div class="limiter">

        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form">
                    <span class="login100-form-title p-b-26">
                        País
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Formato invalido">
                        <input class="input100" type="text" name="pais">
                        <span class="focus-input100" data-placeholder="Nome do país"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Salvar
                            </button>
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Atualizar
                            </button>
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Deletar
                            </button>
                        </div>
                    </div>

                    <div class="text-center p-t-115">
                        <span class="login100-form-title p-b-26">
                            Lista de países
                        </span>
                        @* Trazer a lista de países com id e nome do país *@
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">País</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">@ViewBag.Id</th>
                                    <td>@Html.ActionLink("Home", "Index", "Home")</td>
                                    <td>@Html.ActionLink("About", "About", "Home")</td>
                                    <td>@Html.ActionLink("Contact", "Contact", "Home")</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="sidebar col-md-3 col-sm-5">
                            <ul class="list-group margin-bottom-25 sidebar-menu">

                                @foreach (var item in new BusinessLogicalLayer.PaisBLL().GetAll())
                                {
                                    <li class="list-group-item clearfix dropdown active">
                                        <a href="">
                                            <i class="fa fa-angle-right"></i>
                                            @item.Id
                                        </a>
                                        <ul class="dropdown-menu" style="display:none;">
                                            <li><a href="#"> @item.Nome</a></li>
                                        </ul>
                                    </li>
                                }

                            </ul>
                        </div>


                    </div>

                </form>
            </div>
        </div>

    </div>

    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="./js/main.js"></script>

</body>
</html>